<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add new Skill</title>
</head>
<body>
  <h1>Add Skill</h1>
  <form action="/skills" method="POST">
    <input type="text" name="name"  placeholder="Skill name">
    <input type="text" name="level" placeholder="level">
    <input type="text" name="field"  placeholder="field">
    <button type="submit">Add Skill</button>
  </form>
  
</body>
</html>